@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@layer base {
   html,
   body {
      @apply overscroll-none;
      font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
      system-ui, sans-serif;
   }
}

@layer utilities {
   .grain {
      background-color: #66666e;
      position: relative;
   }
   .grain:after {
      inset: -50%;
      background-image: url('https://grainy-gradients.vercel.app/noise.svg');
      content: "";
      background-repeat: repeat;
      opacity: 0.15;
      position: fixed;
      pointer-events: none;
      z-index: 9999;
   }
}
