@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@layer base {
   html,
   body {
      @apply overscroll-none;
      font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
      system-ui, sans-serif;
   }
}

@layer utilities {
   .grain {
      background-color: '#66666e';
   }
   .grain:after {
      background-image: url('https://grainy-gradients.vercel.app/noise.svg');
      content: "";
      height: 200%;
      width: 200%;
      left: -100%;
      top: -100%;
      opacity: 0.15;
      position: fixed;
      z-index: 100;
   }
}
